@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/whatwedo/whatwedo.css);
@import url(./blocks/how-we-work/how-we-work.css);
@import url(./blocks/our-works/our-works.css);
@import url(./blocks/see-portfolio/see-portfolio.css);
@import url(./blocks/studio/studio.css);
@import url(./blocks/contact-us/contact-us.css);
@import url(./blocks/footer/footer.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	font-weight: 300;
    letter-spacing: 0.025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
	font-size: 60px;
	line-height: 1.2;
	color: #1b1b1c;
	font-weight: 600;

}

h2 {
	font-size: 48px;
	font-weight: 400;
	line-height: 1.2;
}

h3 {
	font-size: 30px;
	font-weight: 500;
	margin: 15px 0;
}

h5 {
	font-weight: 600;
}

p, li {
	font-size: 22px;
    line-height: 1.8;
    
}

.clearBoth {
	clear: both;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.hint-line {
	height: 2px;
	width: 60px;
	background-color: black;
	margin-bottom: 6px;
	margin-right: 6px;
}

.hint-line-white {
    background-color: white;
}

.hint-line, .hint-text {
	display: inline-block;
}

.hint-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;

}

.hint-line-white {
	background-color: white;
}

html,
body {
  height: 100%;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 1150px) {
	h2 {
		line-height: 1.2;
	}

}

@media (max-width: 600px) {
	h2 {
		font-size: 34px;
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 22px;
	}
}